.word-cloud {
	width: 60em;
}

/*
	This is copied without modification from Scanning Cabinet 
*/
.doc-page-single {
  border: 1px solid grey;
  display: block;
}

.doc-page-row {
  border: 1px solid grey;
}


