<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>NometicLand</title>
  <link rel="stylesheet" type="text/css" href="/css/scanner.css" />
</head>
<body>
  <div align="right" style='float: right'>
    {{ if .UserInfo }}
      <b>{{.UserInfo.User}}</b> |
    {{ end }}
    <a href="{{.LoginUrl}}">
    {{ if .UserInfo }}
      Log out
    {{ else }}
      Log in
    {{ end }}
    </a>

  </div>
  <div>[<a href='/'>NometicLand</a>]</div>


<h2><img src="http://www.gstatic.com/codesite/ph/images/star_off.gif" width=15 height=15 /> 
    {{ if .Doc.Title}}
       {{.Doc.Title| html}}
    {{ else }}
       Document {{.Doc.Id}}
    {{ end }}
</h2>
<form method='POST' action='/changedoc'>
<input type='hidden' name='docid' value='{{.Doc.Id}}' />
<table>
  <tr><td align='right'>Title</td><td><input name='title' value="{{.Doc.Title| html}}" size=80 /></td></tr>
  <tr><td align='right'>Tags</td><td><input name='tags' value="{{.Doc.TagCommaSeparated | html}}" size=80/></td></tr>
  <tr><td align='right'>Doc Date</td><td><input name='date' value="{{.Doc.DateYyyyMmDd}}" maxlength=10 /> (yyyy-mm-dd)</td></tr>
  <tr><td align='right'>Due Date</td><td><input name='due_date' value="{{.Doc.DueYyyyMmDd}}" maxlength=10 /> (yyyy-mm-dd)</td></tr>
  <tr><td align='right'>Location</td>
      <td><input name='physical_location'
           value="{{ if .Doc.PhysicalLocation }}{{.Doc.PhysicalLocation | html}}{{ end }}" size=60 />
           (of physical document)</td>
  </tr>
  <tr>
    <td></td>
    <td><input type='submit' value="Save" />
      Other action: <select name='mode'>
        <option value="">(other options)</option>
        <option value="break">Break; delete doc, keep images</option>
        <option value="delete">Delete; delete doc &amp; images</option>
      </select>
    </td>
  </tr>
</table>
</form>

  {{ $ize := .Size }}
  {{ if .ShowSingleList }}
    <center>
      {{ range .Pages }}
        <img src="{{.UrlResize}}{{$ize}}" class="doc-page-single" /><br />
      {{ end }}
    </center>
  {{ else }}
      {{ range .Pages }}
        <img src="{{.UrlResize}}{{$ize}}" class="doc-page-row" />
      {{ end }}
  {{ end }}
