<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>NometicLand</title>
  <link rel="stylesheet" type="text/css" href="/css/scanner.css" />
  {{ if .NoDocs }}
      <link rel="stylesheet" type="text/css" href="http://visapi-gadgets.googlecode.com/svn/trunk/wordcloud/wc.css"/>
	  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  {{ end }}

</head>
<body>
    {{ if .TopMessage }}
      <center><span style='background: #ffc; padding: 0.5em'>{{.TopMessage}}</span></center>
    {{ end }}
    {{ if .ErrorMessage }}
      <center><span style='background: #ffc; padding: 0.5em; color: red'>{{.ErrorMessage}}</span></center>
    {{ end }}
  <div align="right" style='float: right'>
    {{ if .UserInfo }}
      <b>{{.UserInfo.User}}</b> |
    {{ end }}

    <a href="{{.LoginUrl}}">
    {{ if .UserInfo }}
      Log out
    {{ else }}
      Log in
    {{ end }}
    </a>
  </div>
  <div>[<a href='/'>NometicLand</a>]</div>


<h2>Search</h2>
<form method='GET' id='tagform'>
<div>Tag search: <input type='text' size='50' name='tags' id='taginput' /> <input type='submit' value='Search' /> (comma-separated union)</div>
</form>

{{ if .HasMediaAndDidNotSearch }}
<h2>Un-annotated raw scans</h2>
    <form method='POST' action='/makedoc' />
    <input type='submit' value='Make doc from selected' />
    <div id='scans'>
    {{ range .Media }}
      <div style='margin: 1em; float:left; height: auto'>
        <div style='display: block'>
          <input type='checkbox' id='check_{{.Id}}' name="media_id" value="{{.Id}}" />
          [<a target=_blank href="{{.UrlResize}}800">larger</a>]<br/>
          <label for='check_{{.Id}}'><img src="{{.ThumbUrl}}" class="doc-page-row" /></label>
        </div>
      </div>
	{{ end }}
    </div> <!-- scans -->
    </form>
    <br clear='both' />
{{ end }}

<h2>Documents</h2>

{{ if .Docs }}
    <ul>
    {{ range .Docs }}
      <li><b>
        <a href="{{.DisplayUrl}}">{{.SomeTitle}}</a>
      </b> [{{.DateYyyyMmDd}}]{{ if .Description }} ({{.Description}}){{ end }}
      </li>
    {{ end }}
    </ul>
{{ else }}

<div id="wcdiv"></div>

	  <script type="text/javascript" src="http://visapi-gadgets.googlecode.com/svn/trunk/wordcloud/wc.js"></script>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript">
		google.load("visualization", "1");
		google.setOnLoadCallback(draw);
		function draw() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Text1');
			data.addRows({{ .AllTagCount }});
			{{ range $index, $tags := .AllTags }}
			data.setCell({{ $index }}, 0, {{ $tags }});
			{{ end }}
			var outputDiv = document.getElementById('wcdiv');
			var wc = new WordCloud(outputDiv);
			wc.draw(data, null);
			attachEvents();
		}
		function attachEvents() {
			$("div.word-cloud span")
				.css('cursor', 'pointer')
				.click(function () {
					$("input#taginput").val($(this).text());
					$("form#tagform").submit();
				});
		}
	</script>
{{ end }}



<!---- Upcoming due documents --->
{{ if .UpcomingDocs }}
<h2>Upcoming Due Documents</h2>
    <ul>
    {{ range .UpcomingDocs }}
      <li><b>{{.DueYyyyMmDd}}</b> &#8212;
        <a href="{{.DisplayUrl}}">{{.SomeTitle}}</a>
      </b> {{ if .Description }} ({{.Description}}){{ end }}
      </li>
    {{ end }}
    </ul>
{{ end }}
<!---- Upcoming due documents --->


<!---- Docs without tags --->
{{ if .UntaggedDocs }}
<h2>Untagged Documents</h2>
    <ul>
    {{ range .UntaggedDocs }}
      <li><b>
        <a href="{{.DisplayUrl}}">{{.SomeTitle}}</a>
      </b> {{ if .Description }} ({{.Description}}){{ end }}
      </li>
    {{ end }}
    </ul>
{{ end }}
<!---- /Docs without tags --->

</body>
</html>
